body {
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}

#message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Kavivanar', san-serif;
  font-size: 40px;
  width: 80%;
  max-width: 280px;
  padding: 15px 15px 50px 15px;
  text-align: center;
  display: none;
  align-content: center;
  justify-content: center;
  background-color: aliceblue;
  border: medium solid #3D455C;
  border-radius: 20px;
  color: #3D455C;
  z-index: 99;
}

#message_ok {
  position: absolute;
  bottom: 10px;
  padding: 10px 20px 10px 20px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #3D455C;
  color: #fff;
  border-radius: 8px;
  border: medium solid #696882;
}

#chat {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -40px;
  transition: all 0.5s;
}

form {
  background: #000;
  padding: 3px;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 88%;
  margin-right: .5%;
}

form button {
  width: 8%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}